*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: grey;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}
.content{
    margin: 0 auto;
    padding: 16px 8px;
    width: 100%;
    max-width: 650px;
}
.content  h2{
    font-size: 24px;
    color: white;
    margin-bottom: 8px;
}
.task-form{
    display: flex;
  
}
input,button {
border: none;
appearance: none;
outline: none;
background-color: none;
}
#task-form-input{
    flex: 1 1 0%;
    margin-right: 8px;
    padding: 9px;
    border-radius: 9px;
    margin-right: 8px;
   
    color: gray;
    font-size: 15px;

}
.task-form-input::placeholder{
 
    color: grey;
}
#task-form-submit{
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 850px;
    font-size:16px ;
    border-radius: 8px;
    color: blue;
    transition: 0.4s;
    cursor: pointer;  
}
#task-form-submit:hover{
   color: yellowgreen;
   opacity: 0.8;

}
.section{
    flex: 1 1 0%;
    margin: 0 auto;
    padding: 16px 8px;
    width: 100%;
    max-width: 650px;
}
.main{
    padding: 8px;
}
.main h2{
    font-size: 24px;
    color: white;
   margin-bottom: 8px;
}
#task-list .task{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
    background-color:white;
    border-radius: 16px;
    color: gray;
   
}
#task-list .task .container .text{
    display: block;
    color: white;
    font-size: 18px;
    width: 100%;
}
#task-list .task .icons{
    display: flex;
    margin: 0 -4px;
}
/* #task-list.container.icons.button{
    cursor: pointer;
} */
 
 

    